{% extends "base.twig" %}

{% block main %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h2>Список торрентов</h2>
        <div class="table-responsive" id="torrents_list">
        </div>
        {% if page_count > 0 %}
             <div>
                 {% for pn in range(0,page_count) %}
                    {% if pn+1 == int(page_num) %}
                         <a href="/?page_num={{ pn+1 }}" class="btn btn-primary">{{ pn+1 }}</a>
                    {% else %}
                         <a href="/?page_num={{ pn+1 }}" class="btn btn-outline-primary">{{ pn+1 }}</a>
                    {% end %}
                 {% end %}
             </div>
        {% end %}
        <script>
            $(document).ready(function() {
                filter = {
                    'genre_filter': '{{ genre_filter }}',
                    'search_filter': '{{ search_filter }}',
                    'rating_order': true,
                    'page_num': {{ page_num }},
                    'page_count': {{ page_count }}
                };
                $.post("/ajax_list", JSON.stringify(filter), function(data) {
                    $("#torrents_list").html(data);
                });
            });
        </script>
    </main>
{% end %}